//start mixin style

@mixin heading_one {
      font-size: 55px;
      font-weight: 700;
}

@mixin heading_two {
      font-size: 36px;
      font-weight: 400;
}
@mixin heading_three {
      font-size: 30px;
      font-weight: 400;
}
@mixin heading_three {
      font-size: 30px;
      font-weight: 400;
}
@mixin heading_four{
      font-size: 20px;
      font-weight: 400;
}
@mixin heading_five{
      font-size: 18px;
      font-weight: 400;
      text-transform: uppercase;
}
@mixin heading_six{
      font-size: 16px;
      font-weight: 400;
}

@mixin nav_a {
     font-size: 16px; 
}
@mixin paragraph {
      font-size: 15.5px; 
      color: $color_white;
 }
 @mixin service_paragraph {
      font-size: 16px; 
      color: $color_white;
 }

@mixin banner_button {
  font-size: 16px;
  font-weight: 400;
  color: #ffff;
  padding: 18px 30px;
  border: 1px solid #fff;
}
@mixin banner_arrow {
    height: 40px;  
    width: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
}
@mixin about_item{
      padding: 40px 34px
}

//end mixin style