// start background variable

$hover_bg:#fec600;
$arrows_bg:#fff;
$White_bg:#ffff;
$maketPlace_bg:#f1f1f1;
$pageName_bg:#353535;
$joinnow_bg:#353535;
$counter_bg:#181818;
$teamIteam_bg:#f1f1f1;
$footer_bg:#222222;
$ankor_bg:#fff;
$button_hover:#fec600;
$copyWrite_bg:#353535;
$after_bg:#fec600;
$position_bg:#11111170;
$about_item:#eeeeee;


// end background variable

// start font-color variable
$color_yellow:#fec600;
$color-black:#111111;
$color_white:#fff;
$text_hover:#fec600;
$li_hover:#fec600;





// end font-color variable


// h1 55px
// h2 36px

// 18h5
// 20h4
// 16 h6
// 30h3

