#services{
      position: relative;
}

.service_title{
      position: relative;
      h3{
            @include heading_three;
            color:$color-black;
      }
      p{
            @include service_paragraph;
            color: #353535;
            
      }
      &:after{
            position: absolute;
            height: 840px;
            width: 1px;
            left: 51.5%;
            top: 232%;
            background:url(../images/service_line.png);
            content: "";
      }
}
.service_part{
      padding: 90px 0;
      .profession {
            margin-top: 18%;
      }
      .work_img{
            background:$teamIteam_bg;
            height: 80px;
            width: 80px;
            border-radius: 50%;
            line-height: 80px;
           line-height: 80px;
           margin-left: 36%;
           margin-top: 35%;
           img{
            padding: 20px;
            width: 80px;
           }
            
      }
}


.profession_content{
      background:$teamIteam_bg ;
      padding: 54px 29px;  
      position: relative;   
       p{
            @include service_paragraph;
           color: $color-black;
      }
      &::after{
            position: absolute;
            height: 40px;
            width: 40px;
            top: 40%;
            left: -18px;
            background:$teamIteam_bg;
            content: "";
            transform: rotate(45deg);
      }
}
.design_content{
      background:$teamIteam_bg;
      padding: 54px 29px;  
      position: relative;   
       p{
            @include service_paragraph;
            color: $color-black;
      }
      &::after{
            position: absolute;
            height: 40px;
            width: 40px;
            top: 40%;
            right: -18px;
            background:$teamIteam_bg;
            content: "";
            transform: rotate(45deg);
      }  
}
.service_prev{
      position: absolute;
      bottom: 21px;
      left: 49.3%;
      height: 40px;
      width: 40px;
      line-height: 40px;
      text-align: center;
      border: 1px solid #353535;
      border-radius: 50%;
      transition: .5s;
      &:hover{
            background: $hover_bg;
            border: 1px solid transparent;
      }
}
.service_next{
      position: absolute;
      top: 160px;
      left: 49.3%;
      height: 40px;
      width: 40px;
      line-height: 40px;
      text-align: center;
      border: 1px solid #353535;
      border-radius: 50%;
      &:hover{
            background: $hover_bg;
            border: 1px solid transparent;
      }
}
#services .slick-center .work_img{
      background:$hover_bg;
      transform: scale(1.2);
}