
   #team{
      padding: 20px 0 40px 0;
   }
   .team_heading{
      h3{
           @include heading_three;
      }
      p{
            @include paragraph;
            color: $color-black;
            margin-top: 10px;
      }
   }
   .team_item{
      margin-top: 65px;
      border: 1px solid #e7e7e7;
      padding-bottom: 30px;
      &:hover .team_social{
      opacity: 1;
      margin-top: 0;
      }
      &:hover .team_overlay {
            height: 100%;
            opacity: 1;
          
            }
            &:hover{
                  height: 430px;
            }
          
   }
   .team_img{
      background:$White_bg;
      clip-path: polygon(0 0, 100% 0, 100% 83%, 0 100%);
      position: relative;
      img{
            height: 290px;
      }
      .team_overlay{
            position: absolute;
            height: 0%;
            width: 100%;
            top: 0;
            left: 0;
            background: $hover_bg;
            opacity: 0;
            transition: .5s;
            .search{
                  position: absolute;
                  left: 38%;
                  top: 31%;
                  transform: scale(-50%,-50%);
                  i{
                        font-size: 40px !important;
                        height: 80px;
                        width: 80px;
                        border-radius: 50%;
                        background: $White_bg;
                        line-height: 80px;
                        text-align: center;
                        color:$color-black
                  }
            }
      }
      

   }

   .team_bio{
      padding: 5px 0 30px 0;
      h4{
        @include heading_four;
      }
      span{
         font-size: 14px;
         color: $color-black;
      }
      .team_social{
            margin-top: -80px;
            transition: .5s;
            opacity: 0;
            transition: .5s;
      }
      a{
            font-size: 18px;
            color: #111111;
            height: 35px;
            width: 35px;
            border: 1px solid #111111;
            border-radius: 50%;
            line-height: 35px;
            text-align: center;
            margin: auto 7px;
            margin-top: 16px;
            transition: .5s;
            &:hover{
                  border: 1px solid transparent;
                  background: $hover_bg;
            }
      }
   }